.experience__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 0 15%;
}

.experience__content-card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
h3{
    color: var(--color-primary);
}

.experience__content-card:hover {
    background: transparent;
    cursor: default;
    box-shadow: 0px 0px 8px 2px var(--color-primary);
}

.experience__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
}

.card__languages{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 15%;
}

.language{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 10%;
    margin-top: 1rem;
}

.language__text{
     display: flex;
     flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10%;
}

.experience__content-card h5 {
    font-size: 0.95rem;
}

.experience__content-card small {
    font-size: 0.7rem;
    color: var(--color-light);
}