.App{
    max-width: 860px;
    margin: 40px auto;
}

.btn{
    background: none;
    border: 2px solid #cfcfcf;
    padding: 12px;
    border-radius: 4px;
    color: #cfcfcf;
    font-weight: 700;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.7s;
}

.btn:hover{
    background: #c23866;
}

.card-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}