.App{
    min-width: 860px;
    margin: 40px auto;
}

.btn{
    background: none;
    border: 2px solid #cfcfcf;
    padding: 12px;
    border-radius: 4px;
    color: #cfcfcf;
    font-weight: 700;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.7s;
}
