@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Nunito", sans-serif;
     display: grid;
     place-items: center;
     height: 100vh;
     background-color: #6a5be2;
}

ul{
    list-style: none;
    padding: 0;
}

.App{
    width: 500px;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    position: relative;
}

.result{
    text-align: center;
}

.result__img{
    width: 50%;
}

.result__title{
    margin-bottom: 0;
}

.result__btn{
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #6a5be2;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.6s;
}

.result__btn:hover{
    background-color: transparent;
    border: 1px solid #6a5be2;
    color: #6a5be2;
}

.test__progress{
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;
}

.progress-inner{
    height: 100%;
    width: 80%;
    border-radius: 30px;
    background: #a5edca;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, #fbf293 0%, #42e2fa 100%);
}

.test__question{
    color: #6a5be2;
    margin-bottom: 1rem;
}

.answer{
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.answer:hover{
    border: 2px solid rgba(0, 0, 0, 0.3);
}