* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}


label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 2rem;
    width: 40vw;
    
}

td {
padding: 5px;
border: 1px solid black;
  
}

th{
    background: #dfdfdf;
    border: 1px solid black;
    padding: 5px;
}

form{
    display: flex;
    gap: 1rem;
}